<footer class="site-footer h-card">
  <div class="wrapper">


      

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-links">
        <a href="https://github.com/minodulcn/minodu"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username">Minodu Repository</span></a>
    </div>


    <div class="footer-col-wrapper" style="
      display: flex;
      gap: 2rem;
      /* align-items: center; */
      flex-wrap: wrap;
    ">

      <!-- Column 1 -->
      <div class="footer-col footer-col-1" style="flex: 1;">

        <p>project by</p>
        
        <a href="https://www.dfki.de/" target="_blank">
            <img src="{{ '/assets/images/dfki_Logo_vz.png' | relative_url }}"
                alt="DFKI logo"
                style="max-width: 220px; height: auto; margin-bottom: 25px;">
        </a>
          
        <a href="https://univ-kara.org/" target="_blank">
          <img src="{{ '/assets/images/Universite_Kara_Logo.png' | relative_url }}"
              alt="Universite de Kara logo"
              style="max-width: 220px; height: auto;">
        </a>
          
      </div>

      <!-- Column 2 (partners) -->
      <div class="footer-col footer-col-2" style="
        flex: 1;
      ">
        <p>in cooperation with</p>

        <div style="
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0.5em;
          text-align: center;
        ">

        <a href="https://ecoteclab.com" target="_blank">
          <img src="{{ '/assets/images/eco_tec_lab_logo.png' | relative_url }}"
              alt="digital inspiration logo"
              style="max-width: 180px; height: 110px;">
        </a>

        <img src="{{ '/assets/images/digital_inspiration.png' | relative_url }}"
            alt="digital inspiration logo"
            style="max-width: 180px; height: 80px;">

        <a href="http://www.lu-re.de/" target="_blank">
          <img src="{{ '/assets/images/lutz-reiter.png' | relative_url }}"
              alt="Lutz Reiter logo"
              style="max-width: 180px; height: 70px;">
        </a>

          </p>
        </div>
      </div>

      <!-- Column 3 (Funding) -->
      <div class="footer-col footer-col-3" style="
        flex: 1;
      ">

        <p style="width: 100%;">funded by</p>

        <div style="
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0.5em;
          text-align: center;
        ">

          <img src="{{ '/assets/images/BMFTR_en_DTP_CMYK_gef_durch.jpg' | relative_url }}"
               alt="BMFTR Logo"
               style="max-width: 220px; height: auto;">

          <p style="font-size: 0.9em; margin: 0;">
            Funded by the German Federal Ministry of Research,<br>
            Technology and Space (BMFTR)<br>
            Minodu Project (FKZ 01LL2202A)
          </p>
        </div>
      </div>

      
    </div>

  </div>

</footer>
